schema/condition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://underbudget.vimofthevine.com/condition"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

<!-- Condition element type -->
    <xs:complexType name="condition">
        <xs:sequence>
            <xs:element name="field" type="xs:string" />
            <xs:element name="operator" type="xs:string" />
            <xs:element name="case-sensitive" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
