schema/period.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://underbudget.vimofthevine.com/budgeting-period"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

<!-- Period element type -->
    <xs:complexType name="period">
        <xs:sequence>
            <xs:element name="param1" type="xs:string" />
            <xs:element name="param2" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" />
    </xs:complexType>

</xs:schema>
